global
    maxconn 60000
    log stdout format raw local0

defaults
    mode http
    log global
    option httplog
    timeout connect 2s
    timeout client 1h
    timeout server 1h
    timeout tunnel 1h

frontend blazechat
    bind *:8080
    default_backend chat_servers

backend chat_servers
    balance leastconn
    option httpchk GET /health
    http-check expect status 200
    server chat1 chat1:8080 check
    server chat2 chat2:8080 check
    server chat3 chat3:8080 check
    server chat4 chat4:8080 check
